<!doctype html>
<html>
	<head>
		<title>Sign In</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/register.css">
	</head>
	<body>
		<div class='container'>
			<h1>Sign In</h1>
			<form method='post' action='/register'>
				<input type='email' name='emailAddress' placeholder='Adresse mail'>
				<input type='text' name='pseudo' placeholder='Pseudo'>
				<input type='password' name='password' placeholder='Mot de passe'>
				<input id='checkPassword' type='password' placeholder='Vérification du mot de passe'>
				<input type='submit' value='Valider'>
			</form>
		</div>
		<script type="text/javascript" src='/webroot/js/APIs/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/register.js'></script>
	</body>
</html>