/* line 3, ../compass/sass/game/game.scss */
#title {
  text-align: center;
  text-transform: capitalize;
}

/* line 7, ../compass/sass/game/game.scss */
.gameContainer {
  margin: auto;
}

/* line 10, ../compass/sass/game/game.scss */
.infos {
  line-height: 40px;
  height: 40px;
  position: relative;
}

/* line 15, ../compass/sass/game/game.scss */
.infos div {
  line-height: inherit;
}

/* line 18, ../compass/sass/game/game.scss */
.infos_left {
  float: left;
}

/* line 22, ../compass/sass/game/game.scss */
.infos_left + .infos_left {
  margin-left: 10px;
}

/* line 25, ../compass/sass/game/game.scss */
.infos_center {
  text-align: center;
  position: relative;
  left: -10px;
}

/* line 30, ../compass/sass/game/game.scss */
.infos_right {
  float: right;
}

/* line 33, ../compass/sass/game/game.scss */
.weapons {
  height: 60px;
}

/* line 36, ../compass/sass/game/game.scss */
#gameboard {
  clear: both;
  position: relative;
}

/* line 40, ../compass/sass/game/game.scss */
.block {
  height: 60px;
  width: 60px;
  float: left;
}

/* line 45, ../compass/sass/game/game.scss */
.block[type='void'] {
  background: #eeeeee;
  background-image: url("/webroot/images/textures/grass.png");
  background-size: 60px;
}

/* line 50, ../compass/sass/game/game.scss */
.block[type='wall'] {
  background: #000000;
  background-image: url("/webroot/images/textures/pin.png");
  background-size: 60px;
}

/* line 55, ../compass/sass/game/game.scss */
.block[type='start'] {
  background: #555;
  background-image: url("/webroot/images/textures/web.png");
  background-size: 60px;
}

/* line 60, ../compass/sass/game/game.scss */
.block[type='end'] {
  background: #bbb;
  background-image: url("/webroot/images/textures/anthill.png");
  background-size: 60px;
}

/* line 65, ../compass/sass/game/game.scss */
.block[type='PATH'] {
  background: red;
}

/* line 69, ../compass/sass/game/game.scss */
.monster {
  position: absolute;
  transition: all 0.6s linear;
}

/* line 73, ../compass/sass/game/game.scss */
.monster[type='knight'] {
  height: 40px;
  width: 10px;
  background: red;
}

/* line 78, ../compass/sass/game/game.scss */
.monster[type='king'] {
  height: 50px;
  width: 20px;
  background: blue;
}

/* line 84, ../compass/sass/game/game.scss */
.tower {
  position: absolute;
  transition: all 0.2s linear;
  height: 60px;
  width: 60px;
  background: url("/webroot/images/towers/classic.png");
}

/* line 92, ../compass/sass/game/game.scss */
.range {
  border-radius: 50%;
  position: absolute;
  background: #0000aa;
  opacity: 0.2;
  pointer-events: none;
}

/* line 100, ../compass/sass/game/game.scss */
.bullet {
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 10px;
  background: red;
  opacity: 0;
  transition: left .2s linear, top .2s linear, opacity 0s linear;
  -webkit-transition: left .2s linear, top .2s linear, opacity 0s linear;
}
